{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div class="container">
        <p>I am an 18 year old senior at South San Francisco High School. I played football and basketball. Some of my hobbies are listed down below!</p>
        <h2>My hobbies</h2>

        <ul>
        <li>Basketball</li>
        <li>Baseball</li>
        <li>Fortnite</li>
        <li>Eating</li>
        <li>Cars</li>
        <li>Traveling</li>
        <li>Braedyn</li>
        <img src='static/images/IMG_E0908.JPG' alt='The day ' width=360 height=400 x=0 y=0>
        </ul>
</div>
{% endblock %}